* {
    box-sizing: border-box;
}

header, .mybutton{
    background-color: #ff6e57 ;
}
header{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    font-size: 2rem;
    font-weight: 600;
}
a{
    margin-bottom: 10px;
}
.sidebar {
    height: 90vh;
  }
  .sidebar .nav-link {
    font-weight: 700;
    font-size: 1.2rem;
    color: #333;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  .vac-img{
    height: 250px;
    object-fit: cover;
    object-position: 100% 80%;
  }

  .trip-details{
    position:absolute;
    height: 150px;
    width: 80%;
    background-color:white;
    border-radius: 30px;
    transform: translate(15%, 100%);
    }
    .sub-section{
        width: 45vw;
    }
  /* @media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
} 
}*/

.form__field {
    width: 100%;
    border: 0;
    /* text-align: center; */
    /* border-bottom: 2px solid gray; */
    outline: 0;
    font-size: 1.7rem;
    padding-left: 40px;
    background: transparent;
}
    
  